@*CAP 4 -> EJERCICIO #1*@
@page "/Multiplication"

<h3>MultiplicationTable</h3>

<div>
    <input type="number" @bind="number" />
</div>
<p>El valor obtenido fue: @number</p>

@for(int i = 1; i <= 10; i++)
{
    result = i*number;
    <p>@number x @i = @result</p>
}

@code {
    private int number { get; set; }
    private int result { get; set; }
}
